bin/applyconfiguration-gen
bin/client-gen
bin/conversion-gen
bin/deepcopy-gen
bin/defaulter-gen
bin/go-to-protobuf
bin/informer-gen
bin/lister-gen
bin/prerelease-lifecycle-gen
bin/register-gen
examples/bin/applyconfiguration-gen
examples/bin/client-gen
examples/bin/conversion-gen
examples/bin/deepcopy-gen
examples/bin/defaulter-gen
examples/bin/informer-gen
examples/bin/lister-gen
examples/bin/openapi-gen
