# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
/bin

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories
vendor/

# IDE files
.idea

hack/tools

examples/bin/applyconfiguration-gen
examples/bin/client-gen
examples/bin/conversion-gen
examples/bin/deepcopy-gen
examples/bin/defaulter-gen
examples/bin/informer-gen
examples/bin/lister-gen
examples/bin/openapi-gen
